@import 'compass/css3/box-shadow'
@import 'compass/css3/images'
@import 'compass/css3/transform'
@import 'animation'

body
  +background-image(radial-gradient(center center, white, red))
  //cf. http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/css3-animations-the-hiccups-and-bugs-youll-want-to-avoid
  -webkit-transform: translateZ(0)

  //background-image: url('../images/sprites/space.png')
  //+background-image(radial-gradient(45px 45px, aqua 10px, #1e90ff 30px))

#reference
  position: fixed
  top: 600% // required b/c of translateZ(0)
  left: 50%
  width: 100px
  height: 100px
  margin-left: -50px
  margin-top: -50px
  border: 1px solid white

#fps-counter
  background: white
  color: black
  position: fixed
  top: 0
  right: 0
  width: 100px
  height: 25px
  text-align: right
  font-family: 'Courier New'

#at_st
  background-position: bottom center
  background-repeat: no-repeat
  width: 133px
  height: 172px
  position: absolute
  right: 0
  bottom: 0
  z-index: 5

#at_st_2
  background-position: bottom center
  background-repeat: no-repeat
  width: 133px
  height: 172px
  position: absolute
  right: 0
  bottom: 0
  z-index: 5
  bottom: 200px

#boba_fett, .probe
  position: absolute
  left: 50%
  top: 50%
  margin-top: -35px
  margin-left: -14px
  background-image: url('../images/sprites/boba_fett_02.png')
  width: 28px
  height: 69px
  //+box-shadow(red 0px 0px 20px)
  // -webkit-filter: drop-shadow(0 1px 20px rgba(0,255,0,1.0))
  // -moz-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  // -ms-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  // -o-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  // filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))

.probe
  background-image: url('../images/sprites/probe_large.png')
  width: 204px
  height: 378px

#boba_fett_css
  position: absolute
  left: 50%
  top: 50%
  margin-top: -35px
  margin-left: -14px
  background-image: url('../images/sprites/boba_fett_02.png')
  width: 28px
  height: 69px
  top: 200px
  left: 600px
  margin-top: -50px
  margin-left: -50px
  background-image: none
  width: 100px
  height: 100px
  background-repeat: no-repeat
  // background-color: rgba(255, 0, 0, 0.6);
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  -webkit-animation-name: orbit
  -webkit-animation-duration: 11.5s
  -moz-animation-iteration-count: infinite
  -moz-animation-timing-function: linear
  -moz-animation-name: orbit
  -moz-animation-duration: 11.5s
  img
    position: relative
    right: -77px
    top: 35px
    -webkit-filter: drop-shadow(0 1px 20px rgba(0,255,0,1.0))
    -moz-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
    -ms-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
    -o-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
    filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))

.probe_css
  width: 204px
  height: 378px
  position: absolute
  transform: translate(100px, 100px)
  -moz-transform: translate(100px, 100px)
  -webkit-transform: translate(100px, 100px)
  // .probe_css_image
  //   -webkit-filter: drop-shadow(0 1px 20px rgba(0,255,0,1.0))
  //   -moz-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  //   -ms-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  //   -o-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  //   filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))

.probe_multi
  width: 204px
  height: 578px
  position: absolute
  // transform: translate(100px, 100px)
  // -moz-transform: translate(100px, 100px)
  // -webkit-transform: translate(100px, 100px)
  +animation(rotate 5s infinite)
  +apply-origin(0px 0px, false)
  +animation-timing-function(linear)
  +animation-delay(0s)
  // -webkit-filter: drop-shadow(0 1px 20px rgba(0,255,0,1.0))
  // -moz-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  // -ms-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  // -o-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  // filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
  img
    margin-top: 100px
    -webkit-filter: drop-shadow(0 1px 20px rgba(0,255,0,1.0))
    -moz-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
    -ms-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
    -o-filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))
    filter: drop-shadow(0 1px 2px rgba(0,255,0,.5))

+keyframes(rotate)
  from
    +transform(rotate(0deg))
  to
    +transform(rotate(360deg))

.dancer
  +animation(jumpdown 1s infinite)

+keyframes(jumpdown)
  from
    +transform(translate(0px, -20px))
  10%
    +transform(translate(0px, -12px))
  20%
    +transform(translate(0px, -4px))
  30%
    +transform(translate(0px, 4px))
  40%
    +transform(translate(0px, 12px))
  50%
    +transform(translate(0px, 20px))
  60%
    +transform(translate(0px, 12px))
  70%
    +transform(translate(0px, 4px))
  80%
    +transform(translate(0px, -4px))
  90%
    +transform(translate(0px, -12px))
  to
    +transform(translate(0px, -20px))


@-webkit-keyframes orbit
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
@-moz-keyframes orbit
  from
    -moz-transform: rotate(0deg)
  to
    -moz-transform: rotate(360deg)

#death_star
  width: 66px
  height: 66px
  position: absolute
  left: 200px
  top: 200px
  margin-left: -33px
  margin-top: -33px
  background-image: url('../images/sprites/death_star_small.png')
  background-position: center center
  background-repeat: no-repeat

#death_star_css
  width: 66px
  height: 66px
  position: absolute
  left: 200px
  top: 200px
  margin-left: -33px
  margin-top: -33px
  background-image: url('../images/sprites/death_star_small.png')
  background-position: center center
  background-repeat: no-repeat
  left: 600px

#pixel
  width: 1px
  height: 1px
  background: green
  position: absolute

.js-bouncing-box
  width: 20px
  height: 20px

@for $i from 0 through 99
  .background-colour-#{$i}
    background-color: getRandomColour()

.matrix
  transform: matrix(1, 0, 0, 1, 150, 150)
