!!!
%html
  %head
    %title Animation Playground
    %meta{charset: 'utf-8'}

    %link{rel: 'shortcut icon', href: 'images/favicon.ico'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/application.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/game.css'}
    %script{src: 'javascripts/application.js', type: 'text/javascript'}

  %body
    %h1 Star Wars
    #fps-counter{style: 'clear: both'}
      #min-fps-counter{style: 'float: left'}
      #current-fps-counter{style: 'float: left; margin-left: 15px;'}
      #max-fps-counter{style: 'float: right'}

    -# #death_star
    -# #boba_fett
    #death_star_css
    -# #boba_fett_css
    -#   %img#boba_fett_css_image{src: 'images/sprites/boba_fett_02_rotated.png'}
    #probe_css
      %img#probe_css_image{src: 'images/sprites/probe_large.png'}
    -# #at_st
    -# %img#at_st_2{src: ''}
    -# / preload AT-ST sprites
    -# %img{src: 'images/sprites/at_st_0.png', style: 'display: none'}
    -# %img{src: 'images/sprites/at_st_1.png', style: 'display: none'}
    -# %img{src: 'images/sprites/at_st_2.png', style: 'display: none'}
    -# %img{src: 'images/sprites/at_st_3.png', style: 'display: none'}
    -# %img{src: 'images/sprites/at_st_4.png', style: 'display: none'}
    -# %img{src: 'images/sprites/at_st_5.png', style: 'display: none'}
    -# / <div style = 'position:absolute; left: 595px; top:195px; background: purple; width:10px; height: 10px;'></div>
    -# #center{style:'width:200px; height: 200px; background-color: pink; position: absolute; left: 400px; top: 0px'}
